* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7%;
}

.container {
    background: beige;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#new-task {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

#task-list {

    list-style: none;
    margin-top: 20px;
    padding-left: 0;
}

#task-list li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    cursor: pointer;
}

#task-list li.completed {
    text-decoration: line-through;
    background: #d1ffd1;
}

.remove-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}

.remove-btn:hover {
    background-color: #c9302c;
}